{{>header}}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 pt-4 pb-4">
      <form autocomplete="off" action="/todo" method="POST" class="rounded p-4" style="background-color:#fff;">
      	<div class="todo-view-action mb-3">
        	<h4 class="d-inline align-middle">Edit Todo</h4>
        	<a href="/todo" class="btn btn-secondary btn-sm ml-2"><i class="fa fa-eye"></i> View all todo</a>
        </div>
        <div class="form-group">
          <input type="hidden" value="{{todo._id}}" name="_id">
          <input type="text" name="name" value="{{todo.name}}" class="form-control" placeholder="Enter todo" id="name">
        </div>
        <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-database"></i> Submit</button>
      </form>
    </div>
  </div>
</div>

{{>footer}}